<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_ID</key>
	<string>d9cbbc11</string>
	<key>API_KEY</key>
	<string>6e173569cf3c24a8285593d9acac9fca</string>
</dict>
</plist>
